body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    margin: 0;
    padding: 0px;
    background: linear-gradient(to bottom, #040100, #18b200);
    color: white;
    overflow-x: hidden;
}



/* Navigation overall content styles */
html {
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    color: white;
    animation: fadeIn 2s ease-in; 
    margin-bottom: 100px;
} 

.navbar {
    background-color: #FFFFFF;
    color: #DC143C;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 900;
    padding: 30px;
    box-sizing: border-box;
    transition: background-color 1.0s ease;
}

.nav-container {
    display: flex;
    align-items: center;
    width: 100%;
}

/* Navigation inside content styles */
.brand {
    margin: 0;
    margin-left: 10px;
    font-size: 1.5em;
    white-space: nowrap;
}

.no-underline {
    text-decoration: none;
    color: #DC143C;
}

.no-underline:hover {
    color: #ffcc00;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #DC143C;
    margin-left: auto; 
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav-links li {
    margin-right: 60px;
}

.nav-links a {
    color: #DC143C;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffcc00;
}

/* Categories Container Styling */
h1 {
    font-size: 5em;
    text-align: center;
    color: #f4f4f4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    margin: 25px;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: -20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px;
    padding: 20px;
}

/* Individual Grid Items */
.grid-item {
    background-color: #f4f4f4;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 70px;
    transform: translateY(200px); /* Start slightly below */
    opacity: 0; /* Start invisible */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out; /* Smooth transition */
    will-change: transform, opacity; /* Optimize performance */
}

/* Images in Grid Items */
.grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Hover Effects */
.grid-item:hover {
    transform: scale(1.1); /* Slightly enlarge the container */
    background: linear-gradient(to top, #040100, #18b200); /* Change background color */
    color: #fff; /* Change text color */
    cursor: pointer;
    transform: translateY(0); /* Move to its original position */
    opacity: 100; /* Fully visible */
}

.grid-item.is-visible {
    transform: translateY(0); /* Move to original position */
    opacity: 1; /* Fully visible */
}

/* Links inside grid items */
.grid-item a {
    text-decoration: none;
    color: #0066cc; /* Link color */
    font-size: 16px;
    display: block;
    margin-top: 10px;
}

.grid-item a:hover {
    color: #ffcc00; /* Link hover color */
}

/* navigation content response */
@media (max-width: 820px) {
    .menu-icon {
        display: block; 
}

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #fefefe;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        width: 100%;
        border-radius: 5px;
        padding: 10px 0;
        box-sizing: border-box;
        }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
        }

    .menu-toggle:checked ~ .nav-links {
        display: flex;
        }
}